.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    grid-auto-flow: row;
    justify-items: center; 
    width: 100%;
    height: 100%;

}

@media screen and (min-width:1250px){
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    width: 300px;
    max-width: 350px;
    background-color:rgb(234, 244, 216); 

    
}

.card img {
   height: 60%;
   width: 75%;
}

.card p{
    margin-top: 20px;
    font-size: 20px;
}



.card:hover{
    transform: scale(1.03) ;
    -webkit-transform: scale(1.03) ;
    -moz-transform: scale(1.03) ;
    transition: 0.3s;

    box-shadow: 1px 0px 32px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 0px 32px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 0px 32px 1px rgba(0,0,0,0.15);
}
